# Dependencies
node_modules/
/node_modules/
/*/node_modules/

# Local Environment Variables
.env
.env.local
.env.*.local
backend/.env

# Production Builds
dist/
build/
out/

# IDE / Editor configurations
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS metadata
.DS_Store
Thumbs.db
